html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
html, body{
	height: 100%;
}
* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: inherit;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	text-align: inherit;
	text-decoration: inherit;
	color: inherit;
	background-color: transparent;
}
html{
	font-size: 16px;
	-webkit-text-size-adjust: 100%;
}
body{
	background-color: #000;
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 400;
	font-style: normal;
	vertical-align: top;
	font-family: 'Exo 2', sans-serif;
	text-align: left;
	text-decoration: none;
	color: #ccc;
}

.noSelect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

h1{
	font-size: 2rem;
	line-height: 2.5rem;
}

.keyboard{
	display: flex;
}
.keyboard-octave {
	display: block;
	flex-grow: 1;
	height: auto;
}
.keyboard-key{
	stroke-linejoin: round;
}
.keyboard-key-white{
	fill: white;
	stroke: black;
}
.keyboard-key-black{
	fill: black;
	stroke: black;
}
.keyboard-key.active{
	fill: #888;
}

.instrument-list,
.instrument-editor,
.instrument-sequence .svg-holder,
input[type="text"],
input[type="number"],
ul.tab-list,
button{
	position: relative;
	z-index: 0;
	display: block;
	border: 2px solid;
	border-radius: 4px;
	overflow: hidden;
	padding: 0 0.25rem;
	margin: 2px;
}
button{
	cursor: pointer;
}
button.active{
	background-color: #264;
}
button:active{
	background-color: #fff;
	color:#000;
}
button:disabled{
	color:#777;
}
table {
	border-spacing: 0;
	border-bottom: 1px solid #666;
	border-left: 1px solid #666;
	border-top: 1px solid #666;
}
table tr.active{
	background-color: #226;
}
tr:nth-child(even){
	background-color: rgba(255,255,255,0.0625);
}
tr:nth-child(odd){
	background-color: rgba(255,255,255,0.125);
}
th, td{
	vertical-align: middle;
}
th{
	border-right: 1px solid #666;
	padding: 0 0.25rem;
	color: #ff0;
}
td{
	border-right: 1px solid #666;
	color: #0f0;
}
table input,
table button{
	margin: 0;
}
table button{
	width: 100%;
}

.instrument-sequence svg rect{
	fill: #888;
	stroke: #fff;
	stroke-width: 0.1;
	stroke-linejoin: round;
}
ul.tab-list{
	display: flex;
	overflow: hidden;
}
ul.tab-list li{
	position: relative;
	z-index: 0;
	display: block;
	overflow: hidden;
	flex-shrink: 0;
}
ul.tab-list li a{
	cursor: pointer;
}

.checkbox:before{
	display: inline;
	content: '☐';
}
.active .checkbox:before {
	content: '☑';
}

.vue-oscilloscope{
	height: 12rem;
}

.vue-canvas{
	display: block;
	height: 100%;
	width: 100%;
	background-color: #003;
}

ul.tab-list li{
	padding: 0 0.25rem;
	border-right: 1px solid #333;
}

ul.tab-list li input{
	display: block;
	width: 100%;
}
ul.tab-list li.buttons{
	display: flex;
}
ul.tab-list li.buttons button{
	flex-shrink: 0;
}

.pattern-editor{
	font-family: monospace;
	font-size: 0.875rem;
	line-height: 100%;
	white-space: nowrap;
}
.pattern-editor th.channel{
	padding: 0;
}
.instruction-editor{
	display: flex;
	cursor: pointer;
}
.instruction-editor .entry.active {
	background-color: #264;
}
.instruction-editor .entry:last-of-type{
	border: none;
}
.instruction-editor .property{
	border-right: 1px solid #333;
	text-align: center;
	white-space: no-wrap;
	display: flex;
}
.instruction-editor .property:last-of-type{
	border-right: none;
}
.instruction-editor .property.c1{width:2ch}
.instruction-editor .property.c2{width:3ch}
.instruction-editor .property.c3{width:4ch}
.instruction-editor .property .entry:first-of-type{
	padding-left: 0.5ch;
}
.instruction-editor .property .entry:last-of-type{
	padding-right: 0.5ch;
}
.inst_bad{ color: #f00; }
.inst_mismatch{ color: #ee0; }

.order-cell{ width:5ch; }
