html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
html, body{
	height: 100%;
}
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: inherit;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	text-align: inherit;
	text-decoration: inherit;
	color: inherit;
	background-color: transparent;
}
html{
	font-size: 16px;
	-webkit-text-size-adjust: 100%;
}
body{
	background-color: #000;
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 400;
	font-style: normal;
	vertical-align: top;
	font-family: 'Exo 2', sans-serif;
	text-align: left;
	text-decoration: none;
	color: #ccc;
}

.noSelect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

h1{
	font-size: 2rem;
	line-height: 2.5rem;
}

.keyboard{
	display: flex;
}
.keyboard-octave {
	display: block;
	flex-grow: 1;
	height: auto;
}
.keyboard-key{
	stroke-linejoin: round;
}
.keyboard-key-white{
	fill: white;
	stroke: black;
}
.keyboard-key-black{
	fill: black;
	stroke: black;
}
.keyboard-key.active{
	fill: #888;
}

.instrument-list,
.instrument-editor,
.instrument-sequence .svg-holder,
input[type="text"],
ul.tab-list,
ul.tab-list li a{
	position: relative;
	z-index: 0;
	display: block;
	border: 2px solid;
	border-radius: 4px;
	overflow: hidden;
	padding: 0.25rem;
	margin: 2px;
}
th{
	border: 2px solid;
	border-radius: 4px;
	padding: 0.25rem;
	margin: 2px;
}
.instrument-sequence svg rect{
	fill: #888;
	stroke: #fff;
	stroke-width: 0.1;
	stroke-linejoin: round;
}
ul.tab-list{
	display: flex;
	overflow: hidden;
}
ul.tab-list li{
	position: relative;
	z-index: 0;
	display: block;
	overflow: hidden;
}
ul.tab-list li.active a,
.order-editor .active{
	background-color: #264;
}
ul.tab-list li a{
	cursor: pointer;
}

.checkbox:before{
	display: inline;
	content: '☐';
}
.active .checkbox:before {
	content: '☑';
}

.vue-oscilloscope{
	height: 12rem;
}

.vue-canvas{
	display: block;
	height: 100%;
	width: 100%;
}

.channel-row-editor{
	display: flex;
}
